.main-image > img {
    background-image: url('../apple-pie/images/apple-pie.jpg') ;
    height: 400px;
    width: 100%;
}

.main-paragraph {
    width: 80%;
    display: flex;
    justify-content: center;
}

.pie-info {
    height: 30px;
    display: flex;
    justify-content: center;
}
